body {
	background-color: black;
	background-image: url("http://wallpapercave.com/wp/QKgBmix.jpg");
}

.box {
	padding-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.catalog {
	order: -1;
	background-color: rgba(255, 165, 0, 0.68);
	width: 250px;
	height: 460px;
	float: left;
}

.catalogTitle{
	color: white;
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
}

.catListName {
	margin-bottom: 15px;
	font-size: 20px;
	text-align: center;
}

.catListName:first-of-type {
	margin-top: 50px;
}

.profile {
}

img {
	height: 400px;
	border: 3px solid red;
}

.title {
	font-size: 100px;
	text-align: center;
	color: orange;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding-bottom: 35px;
	border-bottom: 3px solid red;

}

#count {
	text-align: center;
	font-size: 35px;
	color: white;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

#name {
	color: white;
	text-align: center;
}

.info {
	order: 1;
	color: white;
	background-color: rgba(255, 165, 0, 0.68);
	width: 250px;
	height: 460px;
}

.table {
	width: 100%;
	text-align: center;
	font-size: 20px;
}

th {
	height: 55px;
	font-size: 24px;
}